<a href="https://www.iusb.edu" title="Go to www.iusb.edu"><img width="600" border="0" height="60" style="width: 600px; height: 63px; border-color: #000000; margin: 0px;" alt="IU South Bend Branding Bar" src="http://lesc.iu.edu/emails/_____templates/_common/branding/600px/mcv2/banner-iusb-600x63px.png" title="IU South Bend Branding Bar"/></a>
