<a href="https://www.iun.edu" title="Go to www.iun.edu"><img width="600" border="0" height="60" style="width: 600px; height: 63px; border-color: #000000; margin: 0px;" alt="Indiana University Northwest Branding Bar" src="http://lesc.iu.edu/emails/_____templates/_common/branding/600px/mcv2/banner-iun-600x63px.png" title="Indiana University Northwest Branding Bar"/></a>
