<a href="https://www.iupuc.edu" title="Go to www.iupuc.edu"><img width="600" border="0" height="60" style="width: 600px; height: 63px; border-color: #000000; margin: 0px;" alt="IUPUC Branding Bar" src="http://lesc.iu.edu/emails/_____templates/_common/branding/600px/mcv2/banner-iupuc-600x63px.png" title="IUPUC Branding Bar"/></a>
