<a href="https://www.iupui.edu" title="Go to www.iupui.edu"><img width="600" border="0" height="60" style="width: 600px; height: 63px; border-color: #000000; margin: 0px;" alt="IUPUI Branding Bar" src="http://lesc.iu.edu/emails/_____templates/_common/branding/600px/mcv2/banner-iupui-600x63px.png" title="IUPUI Branding Bar"/></a>
