{#
  /**
   * @file
   * IU Framework Header for IU South Bend.
   *
   * @see page.html.twig
   * @see https://assets.iu.edu/brand/3.3.x/header-iusb.html
   * @see https://styleguide.iu.edu/developer-tools/branding/asset-location.html
   */
#}
<div id="branding-bar" class="iusb" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
  <div class="row pad">
    <img src="//assets.iu.edu/brand/3.3.x/trident-large.png" alt="" />
    <p id="iu-campus">
      <a href="https://www.iusb.edu" title="Indiana University South Bend">
        <span id="campus-name" class="show-on-desktop" itemprop="name">Indiana University South Bend</span>
        <span class="show-on-tablet" itemprop="name">Indiana University South Bend</span>
        <span class="show-on-mobile" itemprop="name">IU South Bend</span>
      </a>
    </p>
  </div>
</div>
