{#
  /**
   * @file
   * IU Framework Header for IUPUI.
   *
   * @see page.html.twig
   * @see https://assets.iu.edu/brand/3.3.x/header-iupui.html
   * @see https://styleguide.iu.edu/developer-tools/branding/asset-location.html
   */
#}
<div id="branding-bar" class="iupui" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
  <div class="row pad">
    <img src="//assets.iu.edu/brand/3.3.x/trident-large.png" alt="" />
    <p id="iu-campus">
      <a href="https://www.iupui.edu" title="IUPUI">
        <span id="campus-name" class="show-on-desktop" itemprop="name">IUPUI</span>
        <span class="show-on-tablet" itemprop="name">IUPUI</span>
        <span class="show-on-mobile" itemprop="name">IUPUI</span>
      </a>
    </p>
  </div>
</div>
