<div class="toboggan-unified">
  <div id="login-links">
    <button id="login-link">
      Log me in
    </button>
    <button id="register-link">
      Register
    </button>
    <button id="password-link">
      Reset password
    </button>
  </div>
</div>
