{% if content %}
  <div class="skirt-nav">
    {% for key, value in elements if key|first != '#' %}
      <div class="column column--{{key}}">
        {{ value }}
      </div>
    {% endfor %}
  </div>
{% endif %}
